span.oblique{
    font-style: oblique;
}

span.negrita{
    font-weight: bolder;
}

span.pequeño{
    font-size: smaller;
}

ul{
    list-style-type: circle;
}
ol{
    list-style-image:url(img/icono\ listas\ \(2\).jpg);
}